# Jwt sign secret
JWT_SEC=

# PostgreSQL connection
PGSQL_URL=jdbc:postgresql://localhost:5432/ticketrush
PGSQL_USR=ticketrush
PGSQL_PWD=
PGSQL_SCH=

# Redis connection
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PWD=
REDIS_DB=0

# Elasticsearch connection
ES_URIS=http://localhost:9200
ES_API_KEY=

# SMTP relay connection
SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USR=ticketrush@localhost
SMTP_PWD=

# Email address
MAIL_ADDR=ticketrush@localhost

# S3 storage connection
S3_URL=
S3_KEY_ID=
S3_KEY_SEC=
