<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        [%d{HH:mm:ss dd/MM/yyyy}] %highlight(%-5level) %cyan(%-36logger{36}): %msg%n
      </pattern>
    </encoder>
  </appender>
  <logger name="me.june8th.ticketrushserver" level="debug"/>
  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>